<% layout('layout') -%>
<div class="container">
	<div class="row">
	<h1 style="text-align: center">Add New Products</h1>
	<div style="width:30%;margin:0 auto;">	
	<form action="/products" method="POST">
	
		
		<input class="form-control" type="text" name="product" placeholder="product">
		<input class="form-control" type="text" name="image" placeholder="imageUrl">
		<input class="form-control" type="text" name="cost" placeholder="cost">
		<input class="form-control" type="text" name="features" placeholder="detail">
		<button class="btn btn-primary btn-large" >Add</button>
	</form>
	</div>
        </div>
</div>

